<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">상세 읽기 - @Model.NoteTitle</h3>
    </div>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>@Model.NoteTitle</tr>
        </thead>
        <tbody>
            <tr>@Html.Raw(@Model.NoteContents)</tr>
        </tbody>
        @*<div class="panel-footer" text-right> 
            <a class="btn btn-primary" asp-controller="Note" asp-action="Index">목록</a>
        </div>*@
    </table>
    <div align="right"><a class="btn btn-primary" asp-controller="Note" asp-action="Index">목록</a></div>
</div>