@model List<AspnetNoteMVC6.Models.User> // 모델 형식 변경

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2 class="text-center">Users</h2>

@if (Model.Any()) // 사용자 목록이 있을 경우에만 표시
{
    <table class="table">
        <thead>
            <tr>
                <th>User No</th>
                <th>User Name</th>
                <th>User ID</th>
                <th>User Password</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserNo</td>
                    <td>@user.UserName</td>
                    <td>@user.UserId</td>
                    <td>@user.UserPassword</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-center">No users found.</p>
}
